<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>979696525592-oi481tbbn0pp9htv408l99vh6fa08e3o.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.979696525592-oi481tbbn0pp9htv408l99vh6fa08e3o</string>
		<key>API_KEY</key>
		<string>AIzaSyBpHcKBi3WWIyGneVwZgmS6Fu4sML52AxQ</string>
		<key>GCM_SENDER_ID</key>
		<string>979696525592</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>app.woozeee.com</string>
		<key>PROJECT_ID</key>
		<string>woozeee-d7f6c</string>
		<key>STORAGE_BUCKET</key>
		<string>woozeee-d7f6c.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:979696525592:ios:a89dea8f5236f940dcfe6d</string>
		<key>DATABASE_URL</key>
		<string>https://woozeee-d7f6c.firebaseio.com</string>
	</dict>
</plist>